@import url('https://fonts.googleapis.com/css?family=PT+Mono');

@font-face {
    font-family: "graphik-regular";
    src: url(../fonts/Graphik/Graphik-Regular.otf) format("truetype");
}

@font-face {
    font-family: "graphik-medium";
    src: url(../fonts/Graphik/Graphik-Medium.otf) format("truetype");
}

@font-face {
    font-family: "graphik-semibold";
    src: url(../fonts/Graphik/Graphik-SemiBold.otf) format("truetype");
}

@font-face {
    font-family: "majesti-banner-book";
    src: url(../fonts/Majesti-Banner/Majesti-Banner-Book.otf) format("truetype");
}
