h4 {
  color: $white;
  line-height: 2.2rem;
  @media #{$breakpoint-sm-up} {
    line-height: 2.2rem;
  }
  @media #{$breakpoint-md-up} {
    line-height: 2.2rem;
  }
  @media #{$breakpoint-lg-up} {
    line-height: 2.2rem;
  }
}

header {
  background-color: $darkslate;
  padding: 4.8rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 5.4rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 6rem 0;
  }
  @media #{$breakpoint-lg-up} {
    padding: 6.6rem 0;
  }
  p {
    color: $white;
  }
}

footer {
  background-color: $darkslate;
  padding: 4.8rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 5.4rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 6rem 0;
  }
  @media #{$breakpoint-lg-up} {
    padding: 6.6rem 0;
  }
  aside {
    color: $white;
  }
}

section {
  padding: 0 0 4.8rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 0 0 5.4rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 0 6rem 0;
  }
  @media #{$breakpoint-lg-up} {
    padding: 0 0 6.6rem 0;
  }
  &:first-of-type {
    padding: 4.8rem 0;
    @media #{$breakpoint-sm-up} {
      padding: 5.4rem 0;
    }
    @media #{$breakpoint-md-up} {
      padding: 6rem 0;
    }
    @media #{$breakpoint-lg-up} {
      padding: 6.6rem 0;
    }
  }
}

.content-block {
  padding: 0 3.2rem;
  @media #{$breakpoint-sm-up} {
    padding: 0 3.6rem;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 4rem;
  }
  @media #{$breakpoint-lg-up} {
    padding: 0 4.4rem;
  }
}

.features-list {
  list-style: square;
  margin: 0 0 3.2rem 0;
  @media #{$breakpoint-sm-up} {
    margin: 0 0 3.6rem 0;
  }
  @media #{$breakpoint-md-up} {
    margin: 0 0 4rem 0;
  }
  @media #{$breakpoint-lg-up} {
    margin: 0 0 4.4rem 0;
  }
  li {
    margin: 0 0 0 1.6rem;
    color: $white;
    @include font-size-line-height(1.4rem);
    @media #{$breakpoint-md-up} {
      display: inline-block;
      margin: 0 0 0 0.8rem;
      @include font-size-line-height(1.6rem);
    }
    @media #{$breakpoint-lg-up} {
      @include font-size-line-height(1.8rem);
    }
  }
}

.description {
  padding-bottom: 1.6rem;
  @media #{$breakpoint-sm-up} {
    padding-bottom: 1.8rem;
  }
  @media #{$breakpoint-md-up} {
    padding-bottom: 2rem;
  }
  @media #{$breakpoint-lg-up} {
    padding-bottom: 2.2rem;
  }
}

.example {
  padding: 0 3.2rem;
  @media #{$breakpoint-sm-up} {
    padding: 0 3.6rem;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 4rem;
  }
  @media #{$breakpoint-lg-up} {
    padding: 0 4.4rem;
  }
}

.example > div {
  height: 40px;
  margin-bottom: 1.8rem;
  padding: 0.8rem 1.6rem;

  .row {
    padding: 0;
  }
}

.example > div > div > div {
  height: 2.4rem;
}

@for $i from 1 through 5 {
  .example > div:nth-of-type(5n + #{$i}) {
    background-color: nth($block-colors, $i);
  }
}

@for $i from 1 through 5 {
  .example > div > div > div:nth-of-type(5n + #{$i}) {
    background-color: nth($block-colors-lt, $i);
  }
}
