h4 {
  color: $white;
  line-height: 2.2rem;
  @media #{$breakpoint-sm-up} {
    line-height: 2.2rem;
  }
  @media #{$breakpoint-md-up} {
    line-height: 2.2rem;
  }
  @media #{$breakpoint-lg-up} {
    line-height: 2.2rem;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $bronze;
  padding: 0.5rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 0.6rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 0.8rem 0;
  }

  i {
    &:hover {
      cursor: pointer;
    }
  }
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.95);
  text-align: center;
  padding: 9.6rem  0 3rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 10rem 0 3.2rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 11rem 0 3.6rem 0;
  }
  @media #{$breakpoint-lg-up} {
    padding: 11.2rem 0 4rem 0;
  }

  li {
    font-size: 2.4rem;
    line-height: 4.2rem;
    @media #{$breakpoint-md-up} {
      font-size: 3rem;
      line-height: 5.4rem
    }
    @media #{$breakpoint-lg-up} {
      font-size: 3.2rem;
      line-height: 5.8rem
    }
  }

  a {
    display: block;
    color: $white;
    text-decoration: none;
    transition: all 200ms ease;
    &:hover {
      background-color: darken($darkslate, 1.4%);;
    }
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    @include font-size-line-height(2.2rem);
    @media #{$breakpoint-md-up} {
      @include font-size-line-height(2.6rem);
    }
    @media #{$breakpoint-lg-up} {
      @include font-size-line-height(2.8rem);
    }
  }
}

header {
  background-color: $darkslate;
  padding: 9.6rem  0 3rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 10rem 0 3.2rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 11rem 0 3.6rem 0;
  }
  @media #{$breakpoint-lg-up} {
    padding: 11.2rem 0 4rem 0;
  }
  p {
    color: $white;
  }
}

footer {
  background-color: $darkslate;
  padding: 4.8rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 5.4rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 6rem 0;
  }
  @media #{$breakpoint-lg-up} {
    padding: 6.6rem 0;
  }
  aside {
    color: $white;
  }
}

section {
  padding: 0 0 4.8rem 0;
  @media #{$breakpoint-sm-up} {
    padding: 0 0 5.4rem 0;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 0 6rem 0;
  }
  @media #{$breakpoint-lg-up} {
    padding: 0 0 6.6rem 0;
  }
  &:first-of-type {
    padding: 4.8rem 0;
    @media #{$breakpoint-sm-up} {
      padding: 5.4rem 0;
    }
    @media #{$breakpoint-md-up} {
      padding: 6rem 0;
    }
    @media #{$breakpoint-lg-up} {
      padding: 6.6rem 0;
    }
  }
}

nav {
  ul {
    li {
      color: $white;
    }
  }
}

.content-block {
  padding: 0 3.2rem;
  @media #{$breakpoint-sm-up} {
    padding: 0 3.6rem;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 4rem;
  }
  @media #{$breakpoint-lg-up} {
    padding: 0 4.4rem;
  }
}

.features-list {
  list-style: square;
  margin: 0 0 3.2rem 0;
  @media #{$breakpoint-sm-up} {
    margin: 0 0 3.6rem 0;
  }
  @media #{$breakpoint-md-up} {
    margin: 0 0 4rem 0;
  }
  @media #{$breakpoint-lg-up} {
    margin: 0 0 4.4rem 0;
  }
  li {
    margin: 0 0 0 1.6rem;
    color: $white;
    @include font-size-line-height(1.4rem);
    @media #{$breakpoint-md-up} {
      display: inline-block;
      margin: 0 0 0 0.8rem;
      @include font-size-line-height(1.6rem);
    }
    @media #{$breakpoint-lg-up} {
      @include font-size-line-height(1.8rem);
    }
  }
}

.example {
  padding: 0 3.2rem;
  @media #{$breakpoint-sm-up} {
    padding: 0 3.6rem;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 4rem;
  }
  @media #{$breakpoint-lg-up} {
    padding: 0 4.4rem;
  }
  p {
    padding-top: 1em;
    color: $white;
  }

  h4, p {
    @include font-size-line-height(1.4rem);
    @media #{$breakpoint-md-up} {
      @include font-size-line-height(1.7rem);
    }
    @media #{$breakpoint-lg-up} {
      @include font-size-line-height(1.9rem);
    }
  }
}

.example > div {
  min-height: 40px;
  margin-bottom: 1.8rem;

  h4, p {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    @media #{$breakpoint-md-up} {
      font-size: 1.7rem;
    }
    @media #{$breakpoint-lg-up} {
      font-size: 1.9rem;
    }
  }

  .row {
    padding: 0;
  }
}

.example > div > div {
  height: 100%;
  & > div {
    padding-left: 1rem;
    // h4, p {
    //   font-size: 1.4rem;
    //   line-height: 2rem;
    //   @media #{$breakpoint-md-up} {
    //     font-size: 1.7rem;
    //   }
    //   @media #{$breakpoint-lg-up} {
    //     font-size: 1.9rem;
    //   }
    // }
  }
}

@for $i from 1 through 5 {
  .example > div:nth-of-type(5n + #{$i}) {
    background-color: nth($block-colors, $i);
  }
}

@for $i from 1 through 5 {
  .example > div > div > div:nth-of-type(5n + #{$i}) {
    background-color: nth($block-colors-lt, $i);
  }
}

.code-block {
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: $lightslate;
  @media #{$breakpoint-sm-up} {
    margin-bottom: 3.6rem;
    padding: 1.8rem;
  }
  @media #{$breakpoint-md-up} {
    margin-bottom: 4rem;
    padding: 2rem;
  }
  @media #{$breakpoint-lg-up} {
    margin-bottom: 4.4rem;
    padding: 2.2rem;
  }
  p {
    margin: 0;
    font-family: $pt-mono;
    color: lighten($darkslate, 12%);
    @include font-size-line-height(1.4rem);
    @media #{$breakpoint-md-up} {
      @include font-size-line-height(1.7rem);
    }
    @media #{$breakpoint-lg-up} {
      @include font-size-line-height(1.9rem);
    }
  }
}
