@import "fonts";

// Variables

// Grid
$grid-columns: 12;
$content-well-max-width: 144rem;

// breakpoints
$breakpoint-xs-only: "only screen and (max-width: 641px)"; // xs-only
$breakpoint-sm-up: "only screen and (min-width: 641px)";
$breakpoint-sm-only: "only screen and (min-width: 641px) and (max-width: 1024px)"; // s-only
$breakpoint-md-up: "only screen and (min-width: 1025px)";
$breakpoint-md-only: "only screen and (min-width: 1025px) and (max-width: 1440px)"; // m-only
$breakpoint-lg-up: "only screen and (min-width: 1441px)";
$breakpoint-lg-only: "only screen and (min-width: 1441px) and (max-width: 1920px)"; // l-only
$breakpoint-xl-up: "only screen and (min-width: 1921px)";

// Colors
$white: #ffffff;
$black: #000000;
$slate: #7B7B7B;
$darkslate: #303030;
$lightslate: #F5F5F5;
$bronze: #88714D;
$lightbronze: lighten($bronze, 52%);

$coral: #EA526F;
$burgandy: #63474D;
$gold: #FFC972;
$slateblue: #7C9EB2;
$charcoal: #585B56;

$coral-lt: lighten($coral, 10%);
$burgandy-lt: lighten($burgandy, 10%);
$gold-lt: #937D64;
$slateblue-lt: lighten($slateblue, 10%);
$charcoal-lt: lighten($charcoal, 10%);

$block-colors: ($coral, $burgandy, $gold, $slateblue, $charcoal);
$block-colors-lt: ($coral-lt, $burgandy-lt, $gold-lt, $slateblue-lt, $charcoal-lt);

// fonts
$majesti: "majesti-banner-book", serif;
$graphik: "graphik-regular", helvetica, sans-serif;
$graphik-medium: "graphik-medium", helvetica, sans-serif;
$graphik-semibold: "graphik-semibold", helvetica, sans-serif;

// text
$line-height-multiplier: 1.8;
