// Show for xsmall only
.show-xs-only {
  @media #{$breakpoint-xs-only} {
    display: block;
  }
}

// Show for xsmall up
.show-xs-up {
  display: block;
}

// Show for small only
.show-sm-only {
  @media #{$breakpoint-sm-only} {
    display: block;
  }
}

// Show for small up
.show-sm-up {
  @media #{$breakpoint-sm-up} {
    display: block;
  }
}

// Show for medium only
.show-md-only {
  @media #{$breakpoint-md-only} {
    display: block;
  }
}

// Show for medium up
.show-md-up {
  @media #{$breakpoint-md-up} {
    display: block;
  }
}

// Show for large only
.show-lg-only {
  @media #{$breakpoint-lg-only} {
    display: block;
  }
}

// Show for large up
.show-lg-up {
  @media #{$breakpoint-lg-up} {
    display: block;
  }
}

// Show for xlarge up
.show-xl-up {
  @media #{$breakpoint-xl-up} {
    display: block;
  }
}


// Hide for xsmall only
.hide-xs-only {
  @media #{$breakpoint-xs-only} {
    display: none;
  }
}

// Hide for xsmall up
.hide-xs-up {
  display: none;
}

// Hide for small only
.hide-sm-only {
  @media #{$breakpoint-sm-only} {
    display: none;
  }
}

// Hide for small up
.hide-sm-up {
  @media #{$breakpoint-sm-up} {
    display: none;
  }
}

// Hide for medium only
.hide-md-only {
  @media #{$breakpoint-md-only} {
    display: none;
  }
}

// Hide for medium up
.hide-md-up {
  @media #{$breakpoint-md-up} {
    display: none;
  }
}

// Hide for large only
.hide-lg-only {
  @media #{$breakpoint-lg-only} {
    display: none;
  }
}

// Hide for large up
.hide-lg-up {
  @media #{$breakpoint-lg-up} {
    display: none;
  }
}

// Hide for xlarge up
.hide-xl-up {
  @media #{$breakpoint-xl-up} {
    display: none;
  }
}
