// fonts
$majesti: "majesti-banner-book", serif;
$graphik: "graphik-regular", helvetica, sans-serif;
$graphik-medium: "graphik-medium", helvetica, sans-serif;
$graphik-semibold: "graphik-semibold", helvetica, sans-serif;
$pt-mono: "PT Mono", monospace;

// text
$line-height-multiplier: 1.8;
